In [1]:
import pandas as pd
import numpy as np
import os 
import csv

In [2]:
csv_1 = "Data/JC-201804-citibike-tripdata.csv"
csv_2 = "Data/JC-201805-citibike-tripdata.csv"

April_data = pd.read_csv(csv_1, encoding="utf-8")
May_data = pd.read_csv(csv_2, encoding="utf-8")

In [3]:
April_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,383,2018-04-01 00:00:28,2018-04-01 00:06:52,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26275,Annual Membership,Subscriber,1977.0,1
1,380,2018-04-01 00:05:42,2018-04-01 00:12:02,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,31675,Annual Membership,Subscriber,1982.0,1
2,415,2018-04-01 00:06:37,2018-04-01 00:13:33,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,29284,Annual Membership,Subscriber,1971.0,1
3,682,2018-04-01 00:14:26,2018-04-01 00:25:49,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,29595,Annual Membership,Subscriber,1988.0,1
4,208,2018-04-01 00:21:05,2018-04-01 00:24:33,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,31840,Annual Membership from Citi Bike App,Subscriber,1977.0,1

In [4]:
May_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,40.719252,-74.034234,3199,Newport Pkwy,40.728745,-74.032108,33558,Annual Membership,Subscriber,1988.0,1
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717733,-74.043845,33593,24 Hour,Customer,NaN,0
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,40.725340,-74.067622,3193,Lincoln Park,40.724605,-74.078406,29217,FREE Bonus Month with Annual Membership,Subscriber,1985.0,1
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,40.717733,-74.043845,3186,Grove St PATH,40.719586,-74.043117,29662,24 Hour,Customer,NaN,0
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730743,-74.063784,15271,Annual Membership,Subscriber,1984.0,2

In [5]:
all_data = pd.concat([April, May])
all_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,383,2018-04-01 00:00:28,2018-04-01 00:06:52,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26275,Annual Membership,Subscriber,1977.0,1
1,380,2018-04-01 00:05:42,2018-04-01 00:12:02,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,31675,Annual Membership,Subscriber,1982.0,1
2,415,2018-04-01 00:06:37,2018-04-01 00:13:33,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,29284,Annual Membership,Subscriber,1971.0,1
3,682,2018-04-01 00:14:26,2018-04-01 00:25:49,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,29595,Annual Membership,Subscriber,1988.0,1
4,208,2018-04-01 00:21:05,2018-04-01 00:24:33,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,31840,Annual Membership from Citi Bike App,Subscriber,1977.0,1

In [7]:
all_data['short-term customer'] = (all_data['usertype'] == 'Customer')
all_data['long-term customer'] = (all_data['usertype'] == 'Subscriber')
all_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender,short-term customer,long-term customer
0,383,2018-04-01 00:00:28,2018-04-01 00:06:52,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26275,Annual Membership,Subscriber,1977.0,1,False,True
1,380,2018-04-01 00:05:42,2018-04-01 00:12:02,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,31675,Annual Membership,Subscriber,1982.0,1,False,True
2,415,2018-04-01 00:06:37,2018-04-01 00:13:33,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,29284,Annual Membership,Subscriber,1971.0,1,False,True
3,682,2018-04-01 00:14:26,2018-04-01 00:25:49,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,29595,Annual Membership,Subscriber,1988.0,1,False,True
4,208,2018-04-01 00:21:05,2018-04-01 00:24:33,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,31840,Annual Membership from Citi Bike App,Subscriber,1977.0,1,False,True

In [11]:
all_data['gender'].replace(0, 'Female',inplace=True)
all_data['gender'].replace(1, 'Male',inplace=True)
all_data['male'] = [all_data.loc['gender'] == 'male']
all_data['female'] = [all_data.loc['gender'] == 'female']
all_data.head()

KeyError: 'the label [gender] is not in the [index]'

In [ ]:
all_data['short-term customer'] = all_data['short-term customer'].astype(int)
all_data['long-term customer'] = all_data['long-term customer'].astype(int)
all_data.head()

In [ ]:
all_data.to_csv('cleaned_data.csv', encoding='utf-8', index=True)